* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.green-box {
  width: 100%;
  height: 20vh;
  background-color: green;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.nav-buttons {
  margin-top: 10px;
}

.green-box button {
  border: 2px solid white;
  background-color: green;
  color: white;
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5px;
}

.blog {
  width: 90%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.green {
  color: green;
  font-size: 26px;
  margin-top: 10px;
}

.para {
  font-size: 16px;
  color: rgb(71, 68, 68);
  line-height: 1.2;
}
hr {
  border: none;
  height: 3px;
  background-color: green;
  width: 95vw;
  margin: 2px;
}



footer {
  width: 100%;
  background-color: green;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 15px 0;
  margin-top: 40px;
}
